<app-sidebar>

</app-sidebar>
<div id="page-wrapper">
  <div class="row" class="jilay">
    
  <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" >
          <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-envelope"></i>
                  Send NewsLetter/Mail
              </h1>
              <ol class="breadcrumb">
                  <li>
                      <i class="fa fa-dashboard"></i>  <a href="index.php">Dashboard</a>
                  </li>
                  <li class="active">
                      <i class="fa fa-envelope"></i> Send NewsLetter/Mail
                  </li>
              </ol>
          </div>
      </div>
    

    <div  class="panel panel-primary" id="ind">
        <div class="panel-heading">Individual Mail</div>
        <div class="panel-body">
<form>
  
    <div class="row">
        <div class="col-md-1" >To:
        </div>
        <div class="col-md-6">
        <input type="text" name="to" class="form-control" /><br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1" >Title:
        </div>
        <div class="col-md-6">
        <input type="text" name="title" class="form-control" required /><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" >Subject: 
        </div>
        <div class="col-md-6">
        <textarea class="form-control" rows="10" required></textarea><br/>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-7" align="center">
            <input type="submit" class="btn btn-danger" name="mail" value="Send" />
        </div>
    </div>

</form>
</div>
</div>

</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
