<app-sidebar>
</app-sidebar>
    <div id="page-wrapper">

            <div class="container-fluid">
<div class="jilay">
                <!-- Page Heading -->
                <div class="row">
        
        <div align="center">
                        <h1 class="page-header"><i class="fa fa-dashboard"></i>
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Gallary Page
                            </li>
                        </ol>
                    </div>
                </div>
   
                 <form>

    <div class="row">
        <div align="center">
     	<div class="col-sm-2">
						<h5>Upload Image here...</h5>
					</div>
					<div class="col-sm-3">
				
    				<input type="file" name="files[]" multiple />
				
					</div>
					<div class="col-sm-4">
				<input type="submit" value="Upload" name="submit" class="btn btn-primary" />
                <button class="btn btn-danger" (click)="deleteAll()"  ><i class="fa fa-remove"></i> Delete Selected</button>
    
            </div>
				</div>
                </div>
			</form>

     
     
   
     <div class="row">
        <div align="center">
    
    
    	<table class="table table-striped" id="table" border="1" align="center">
									 
        <tr>

            <th></th>
        
            <th>Title</th>
        <th>image</th>
        
          <th>Action</th>
     
          </tr>
      
      <tr *ngFor="let item of gallary" style="cursor:hand">
        
            <td>
            <input type="checkbox" (change)="checkChange(item)">
</td>
            <td>
            {{item.pic_title}}
</td>
     <td>
             				<img src="{{item.pic_img}}" height="100px" width="100px" />
    				   </td>
     <td>
        <button class="btn btn-primary"  ><i class="fa fa-edit"></i> Update</button>
        <button class="btn btn-danger" (click)=" onimgDelete(item)" ><i class="fa fa-remove"></i> Delete</button>
    </td>
     

     </table>
   
</div>
    </div>
     
            </div>
            </div>
   
        </div>
   